
:root {
    --colorZero: #4051a3;
    --colorOne: #cdb8d1;
    --colorTwo: #eaebe7;
}
h1, h2 {
    font-family: 'Flecha M Medium' !important;
}
h3 {
    text-transform: uppercase !important;
    font-size: 16px !important;
}
h3, h4, dt {
    font-family:'Styrene B Bold' !important;
    font-size: 16px !important;

}
h5, p {

    font-family:'Signifier' !important;
}
nav * {

    font-family:'Signifier' !important;
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 800px) {
    .main-content {
        padding-left: 200px;
    }}
