.bx--header {
    justify-content: flex-start !important;
    height: 120px !important;
    background-color: rgba(0,0,0,0);
    background: linear-gradient(120deg, var(--colorOne) 0px, var(--colorOne) 350px, var(--colorTwo) 350px, var(--colorTwo) 100%) !important;
    /* background: linear-gradient(120deg, rgba(135,134,182,1) 0px, rgba(135,134,182,1) 300px, rgba(205,184,209,1) 300px, rgba(205,184,209,1) 100%) !important; */
}

@media only screen and (min-width: 1060px) {
    .bx--header {
        background: linear-gradient(120deg, var(--colorOne) 0px, var(--colorOne) 300px, var(--colorTwo) 300px, var(--colorTwo) 100%) !important;
    }
}
@media only screen and (max-width: 1060px) {
    .bx--header {
        background: linear-gradient(120deg, var(--colorOne) 0px, var(--colorOne) 300px, var(--colorTwo) 300px, var(--colorTwo) 100%) !important;
    }
}

.bx--header__name{
    display: none !important;
    /* width: 20px !important; */
}
.bx--header~.bx--side-nav {
    top: 120px !important;
}
.bx--header~.bx--content, .main-content {
    margin-top: 130px !important;
}
.bx--accordion__content {
    padding: 25px !important;
}
.bx--accordion__title {
    font-family:'Styrene B Bold' !important;
    text-transform: uppercase !important;
    font-size: 16px !important;
}
.bx--list__item {
    font-family:'Signifier' !important;
}
.bx--accordion__content {
    padding-top: 10px !important;
}
.bx--header__action.bx--header__menu-trigger.bx--header__menu-toggle {
    height: 120px;
}

/* .bx--tabs-trigger, .bx--tabs__nav.bx--tabs__nav--hidden {
    width: 100% !important;
} */
/* 
a.bx--tabs__nav-link {
    width: 100% !important;
} */


.bx--tabs__nav {
    flex-direction: column !important;
    overflow: hidden !important;
}